# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore uploaded files
public/uploads/

# Ignore OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*